flows/Client-onboarding-automation.json
{
  "name": "Onboarding de Cliente Nuevo",
  "description": "Automatiza todo el proceso de bienvenida: contrato, accesos, kickoff y seguimiento",
  "flow": [
    {
      "id": 1,
      "module": "typeform:watchResponses",
      "version": 1,
      "parameters": { "formId": "TU_ONBOARDING_FORM_ID" },
      "metadata": { "designer": { "x": 0, "y": 0 } }
    },
    {
      "id": 2,
      "module": "google-sheets:addRow",
      "version": 2,
      "mapper": {
        "spreadsheetId": "TU_SPREADSHEET_ID",
        "sheetId": "Clientes",
        "values": {
          "Fecha": "{{now}}",
          "Nombre": "{{1.nombre}}",
          "Empresa": "{{1.empresa}}",
          "Email": "{{1.email}}",
          "Servicio": "{{1.servicio}}",
          "Estado": "Onboarding"
        }
      },
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "gmail:sendEmail",
      "version": 1,
      "mapper": {
        "to": "{{1.email}}",
        "subject": "¡Bienvenido/a {{1.nombre}}! Aquí está todo lo que necesitas 🚀",
        "body": "Hola {{1.nombre}},\n\n¡Estamos emocionados de trabajar contigo!\n\nAquí está tu checklist de onboarding:\n\n✅ Paso 1 — Completa este formulario de contexto: [LINK]\n✅ Paso 2 — Agenda tu sesión de kickoff: [CALENDLY_LINK]\n✅ Paso 3 — Accede a tu carpeta compartida: [DRIVE_LINK]\n\n📅 Tu primera reunión será coordinada en las próximas 24 horas.\n\nCualquier pregunta, responde este email.\n\nKaren Pineda\nAI Automation Specialist"
      },
      "metadata": { "designer": { "x": 600, "y": -100 } }
    },
    {
      "id": 4,
      "module": "slack:postMessage",
      "version": 1,
      "mapper": {
        "channel": "#nuevos-clientes",
        "text": "🎉 *Nuevo cliente onboarding*\n*Nombre:* {{1.nombre}}\n*Empresa:* {{1.empresa}}\n*Servicio:* {{1.servicio}}\n*Email:* {{1.email}}\n\nEmail de bienvenida enviado ✅\nRegistrado en CRM ✅"
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    },
    {
      "id": 5,
      "module": "gmail:sendEmail",
      "version": 1,
      "mapper": {
        "to": "{{1.email}}",
        "subject": "Check-in día 3 — ¿Cómo vas con el onboarding?",
        "body": "Hola {{1.nombre}},\n\nHan pasado 3 días desde que comenzamos. ¿Pudiste completar los pasos iniciales?\n\nSi tienes alguna duda o necesitas ayuda, estoy aquí.\n\nKaren",
        "scheduledSendTime": "{{addDays(now, 3)}}"
      },
      "metadata": { "designer": { "x": 600, "y": 100 } }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": { "roundtrips": 1, "maxErrors": 3, "autoCommit": true }
  }
}
